@page "/vendingmachin"
@using WebAppVendingMachin.Components.Components
@inject IStringLocalizer<Resource> Localizer


<Button Clicked="RentMachin">@Localizer["Rent"]</Button>


<DataGrid TItem="VendingMachin"
		  Data="@vendingMachins"
		  ShowPager
		  ShowPageSizes
		  PagerPosition="DataGridPagerPosition.Top">
	<DataGridColumns>
		<DataGridCommandColumn />
		<DataGridColumn Field="@nameof(VendingMachin.Id)" Caption="#" Sortable="false" />
		<DataGridColumn Field="@nameof(VendingMachin.Name)" Caption="Name" Editable />
		<DataGridColumn TItem="VendingMachin" Caption="Model">
			<DisplayTemplate>
				@(context.Model.Name)
			</DisplayTemplate>
		</DataGridColumn>
		<DataGridColumn Field="@nameof(VendingMachin.FullAdress)" Caption="Adress" Editable />
		<DataGridColumn Field="@nameof(VendingMachin.InitWork)" Caption="Init date" Editable />
		<DataGridColumn TItem="VendingMachin" Caption="Action">
			<DisplayTemplate>
				<div class="action">
					✏🧺🔓
				</div>
			</DisplayTemplate>
		</DataGridColumn>
	</DataGridColumns>

	<NextPageButtonTemplate>
		<Text>➡</Text>
	</NextPageButtonTemplate>
	<PreviousPageButtonTemplate>
		<Text>⬅</Text>
	</PreviousPageButtonTemplate>

	<PageSelectorTemplate>
		<Select @bind-SelectedValue="@context.CurrentPage">
			@for (int i = context.FirstVisiblePage; i <= context.LastVisiblePage; ++i)
			{
				var pageNumber = i;
				<SelectItem Value="@pageNumber">@pageNumber</SelectItem>
			}
		</Select>
	</PageSelectorTemplate>
</DataGrid>
@code {
	[Inject] IModalService modalService { get; set; }

	private List<VendingMachin> vendingMachins { get; set; } = DataManager.VendingMachins;
	private async Task RentMachin(MouseEventArgs args)
	{
		await ShowModal();
	}

	private Task ShowModal()
	{
		var options = new ModalInstanceOptions
			{
				Size = ModalSize.ExtraLarge
			};
		return modalService.Show<SelectMachin>(Localizer["SelectMachin"], options);
	}

}
<style>
	.action {
		display: flex;
		color: #369ffa;
	}
</style>