@inject IStringLocalizer<Resource> Localizer


<EditForm FormName="CreateReport" Model="@contextReport" OnValidSubmit="Save">
	<DataAnnotationsValidator />
	<Microsoft.AspNetCore.Components.Forms.ValidationSummary />
	<div>
		<Label>@Localizer["Start Date"]</Label><br />
		<InputDate @bind-Value="@contextReport.DateStart"></InputDate>
	</div>

	<div>
		<Label>@Localizer["End Date"]</Label><br />
		<InputDate @bind-Value="@contextReport.DateEnd"></InputDate>
	</div>

	<div>
		<Label>@Localizer["Insurance"]</Label><br />
		<InputCheckbox @bind-Value="@contextReport.NeedInsurance">@Localizer["Yes"]</InputCheckbox>
	</div>

	<Button Disabled="IsDisable" Type="ButtonType.Submit">@Localizer["Save"]</Button>
	

</EditForm>


@code {
	[Parameter] public VendingMachin vendingMachin { get; set; }
	[Parameter] public SelectMachin parentWindow { get; set; }

	[Inject] IMessageService messageService { get; set; }
	[Inject] IModalService modalService { get; set; }
	[Inject] IToastService toastService { get; set; }
	private Report contextReport { get; set; }
	private bool IsDisable { get; set; } = false;


	protected override void OnInitialized()
	{
		contextReport = new Report()
			{
				CompanyId = UserServices.AuthUser.CompanyId,
				VendingMachinId = vendingMachin.Id,
				DateEnd = DateTime.Now.AddYears(1),
				DateStart = DateTime.Now,
				StatusReportId = 1

			};

	}
	
	private async Task Save(EditContext args)
	{

		if (await messageService.Confirm(Localizer["Confirm"]))
		{
			var response = await NetManager.Post("api/Reports", contextReport);
			if (response.IsSuccessStatusCode)
			{
				await modalService.Hide();
				contextReport.ReportData = CreateReport();

				await NetManager.Post("api/CenterNotifications", new CenterNotification()
					{
						DateTime = DateTime.Now,
						Notification = Localizer["Notification"],
						UserId = UserServices.AuthUser.Id
					});
				await toastService.Success(Localizer["Success"], Localizer["Notification"]);

				await modalService.Show<ReportViewr>(Localizer["Signing"], async x=>x.Add(y=>y.contextReport, await NetManager.ParseResponse<Report>(response)));
			}
			else
			{
				var error = await NetManager.ParseResponse<ErrorMessage>(response);
				await messageService.Error(error.Message);
			}
		}
		else
		{
			IsDisable = false;
		}
	}
	private byte[] CreateReport()
	{
		var fileTemplate = Path.Combine(AppDomain.CurrentDomain.BaseDirectory, "Templates", "Template.word");
		//var pdfRider = new PdfReader(file);

		using (var ms = new MemoryStream())
		{
			
			return ms.ToArray();

		}
	}
}

